
    <!-- Portfolio Grid Section -->
    <section id="pubs">
        <!-- <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Publications</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div> !-->
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I am a Ph.D. Student in Computer Science at <a href="http://www.cse.msstate.edu/">Mississippi State University</a>. I have my bachelor's degree from <a href="http://kntu.ac.ir/">K.N. Toosi University of Technology </a>, Iran, Tehran.
                    <br>
                        My current research consists in providing interpretable predictions using deep models trained on time-series data of patients in ICU. My research interests are interpretability and
                        explainable AI, deep reinforcement learning and computer vision.
                    <br>    
                        For more info, feel free to connect with me on social media <a href="#resume">here</a>.</p>
                    
                </div>
                <!--
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> !-->
            </div>
        </div>
    </section>
